.App{
    margin-top: 10px;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.form-group Label{
    margin-top: 20px;
}

.error{
    color: red;
}

.btn-submit{
    margin-top: 20px;
    margin-left: 380px;
    padding: 15px;
}

@media (max-width: 768px) {
    .btn-submit {
        padding: 25px;
        margin: 0 auto;
        margin-top: 20px;
    }
}

.list{
    display: flex;
    flex-direction: row;
}